<h1>Restaurants</h1>
<ul>
  <li>
    <%= @restaurant.name %>
    <% if params[:action] == "show" %>
      <%= @restaurant.address %>
      <%= @restaurant.phone_number %>
      <% @restaurant.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
    <% end %>
  </li>
</ul>
