<div class="container mt-4">
  <%= render("restaurant", restaurant: @restaurant) %>
  <%= render("reviews/form", restaurant: @restaurant, review: @review) %>

  <%= link_to("go back", restaurants_path) %>
  <%= link_to("See all reviews", restaurant_reviews_path(@restaurant.id)) %>
</div>
