<div class="container mt-4">
<h1>All Reviews</h1>
  <ol>
    <% @reviews.each do |review| %>
      <li><%= review.content %></li>
      <p>Rating: <%= review.rating %></p>
    <% end %>
  </ol>
</div>
